StoreLaptop/StoreLaptop/StoreLaptop/Service References/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62697/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LaptopService" />
  <xs:element name="LaySPindex">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPindexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LaySPindexResult" nillable="true" type="q1:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayLoaiSP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayLoaiSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LayLoaiSPResult" nillable="true" type="q2:ArrayOfLoaiSP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lay1DH">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Lay1DHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="Lay1DHResult" nillable="true" type="q3:ArrayOfDonHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPmoi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPmoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LaySPmoiResult" nillable="true" type="q4:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayHSX">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayHSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LayHSXResult" nillable="true" type="q5:ArrayOfHangSanXuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemtraHSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHSX" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemtraHSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="KiemtraHSXResult" nillable="true" type="q6:HangSanXuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPtheoHSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHSX" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPtheoHSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LaySPtheoHSXResult" nillable="true" type="q7:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="ChiTietSPResult" nillable="true" type="q8:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemKH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="kh" nillable="true" type="q9:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemKHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemKHResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemDonHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="dh" nillable="true" type="q10:DonHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemDonHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemDonHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraTK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraTKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KiemTraTKResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KTDangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taikhoan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matkhau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KTDangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="KTDangNhapResult" nillable="true" type="q11:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPcart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPcartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LaySPcartResult" nillable="true" type="q12:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPtheoid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sidSP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPtheoidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LaySPtheoidResult" nillable="true" type="q13:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemCTDH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="ctdh" nillable="true" type="q14:DonHangChiTiet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemCTDHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemCTDHResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayChungLoai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayChungLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LayChungLoaiResult" nillable="true" type="q15:ArrayOfChungLoai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KTLoaiSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLoai" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KTLoaiSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="KTLoaiSPResult" nillable="true" type="q16:LoaiSP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPtheoLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLoai" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPtheoLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LaySPtheoLoaiResult" nillable="true" type="q17:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPcungloai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLoai" type="xs:int" />
        <xs:element minOccurs="0" name="idSP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPcungloaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LaySPcungloaiResult" nillable="true" type="q18:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPHsx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHSX" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPHsxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LaySPHsxResult" nillable="true" type="q19:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LaySPResult" nillable="true" type="q20:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayHangsx">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayHangsxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LayHangsxResult" nillable="true" type="q21:ArrayOfHangSanXuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemMoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="sanpham" nillable="true" type="q22:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemMoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemMoiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sua">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="SuaResult" nillable="true" type="q23:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChinhSua">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="sanpham" nillable="true" type="q24:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChinhSuaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChinhSuaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDH">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LayDHResult" nillable="true" type="q25:ArrayOfDonHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDH" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LayResult" nillable="true" type="q26:DonHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaTinhTrang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="donhang" nillable="true" type="q27:DonHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaTinhTrangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaTinhTrangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XuLy_DangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mk" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XuLy_DangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="XuLy_DangNhapResult" nillable="true" type="q28:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayKH">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayKHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LayKHResult" nillable="true" type="q29:ArrayOfKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Duyet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="khachhang" nillable="true" type="q30:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuyetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DuyetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaKH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="khachhang" nillable="true" type="q31:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaKHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaKHResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Timkiem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TuKhoa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimkiemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="TimkiemResult" nillable="true" type="q32:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemHSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="HSX" nillable="true" type="q33:HangSanXuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemHSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemHSXResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaHSX">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="HSX" nillable="true" type="q34:HangSanXuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaHSXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaHSXResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDHCT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDHCTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LayDHCTResult" nillable="true" type="q35:ArrayOfDonHangChiTiet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KTKH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idKH" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KTKHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="KTKHResult" nillable="true" type="q36:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoiMK">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="kh" nillable="true" type="q37:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoiMKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoiMKResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lay1KH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idKH" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lay1KHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="Lay1KHResult" nillable="true" type="q38:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaKH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="kh" nillable="true" type="q39:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaKHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaKHResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDHTheoKH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idKH" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDHTheoKHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="LayDHTheoKHResult" nillable="true" type="q40:ArrayOfDonHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatDonHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDH" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatDonHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/LaptopService" minOccurs="0" name="CapNhatDonHangResult" nillable="true" type="q41:DonHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>